doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="../style.css")
    title Favourite's Page
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/favourites.html") Favourite Places
        li
          a(href="/addPlace.html") Add Place
        li
          a(href="logout") Log out
  body
    table
      tr
        th Name
        th Address
        th Open / Close
        th Information
        th URL
      for item in list
        tr
          td #{item.place_name}
          td #{item.addr_line1}<br />#{item.addr_line2}
          td #{item.open_time}<br />#{item.close_time}
          td #{item.add_info}
          td #{item.add_info_url}
